{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JobConnect - Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'authentication_page/login.css' %}">
</head>
<body>
  <a href="{% url 'homepage' %}" class="back-btn" title="Go back to Homepage">
    <i class="fas fa-arrow-left"></i>
  </a>

  <div class="container">
    <!-- Left Section -->
    <div class="form-section">
      <div class="logo">
        <img src="{% static 'logo.png' %}" alt="Logo">
        <span>JobConnect</span>
      </div>

      <h2>Sign in</h2>
      <p class="signup-link">Don’t have account? <a href="{% url 'register' %}">Create Account</a></p>

      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="form-group">
          <input type="email" name="email" placeholder="{{ email_error|default:'Email address' }}" value="{% if not email_error %}{{ email_value }}{% endif %}" class="{% if email_error %}error{% endif %}" required>
        </div>
        <div class="form-group password-container">
          <input type="password" id="password" name="password" placeholder="{{ password_error|default:'Password' }}" class="{% if password_error %}error{% endif %}" required>
          <span class="toggle-password" data-target="password">
            <i class="fas fa-eye"></i>
          </span>
        </div>


        <div class="extra-options">
          <label><input type="checkbox" name="remember_me"> Remember Me</label>
          <a href="#">Forget password</a>
        </div>

        <button type="submit" class="login-btn">Sign In →</button>
    </form>

    </div>

    <!-- Right Section -->
    <div class="image-section">
      <img src="{% static 'cover.png' %}" alt="Side Image">
    </div>
  </div>

  <script src="{% static 'authentication_page/feature_password.js' %}"></script>
</body>
</html>
